div {
	color: lightblue;
}

.display-image-container {
	float: left;
	text-align: center;
}

@media (max-width: 750px) {
	.display-image {
		height: auto;
		width: 80%;
		padding: 5px;
		border: 1px solid #e6e6e6;
		border-radius: 5px;
		margin: 10px;
	}
}

@media (min-width: 750px) {
	.display-image {
		height: auto;
		max-height: 45vh;
		width: 40%;
		padding: 5px;
		border: 1px solid #e6e6e6;
		border-radius: 5px;
		margin: 10px;
	}
}
